# ======================
# Virtual Environment
# ======================
bin/
include/
lib/
lib64
pyvenv.cfg
share/

# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
wheels/
*.egg-link
.installed.cfg

# ======================
# Django
# ======================
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/


# ======================
# Environment variables
# ======================
.env
.env.local
.env.*.local

# ======================
# IDE
# ======================
.vscode/
.idea/
*.swp
*.swo
*~

# ======================
# OS
# ======================
.DS_Store
.DS_Store?
._*
Thumbs.db

# ======================
# Testing
# ======================
.coverage
.pytest_cache/
htmlcov/
.tox/

# ======================
# Migrations (optional)
# ======================
# */migrations/*.py
# !*/migrations/__init__.py

# ======================
# Celery
# ======================
celerybeat-schedule
celerybeat.pid

# ======================
# Secrets
# ======================
*.pem
*.key
secrets.json