{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% block extra_css %}{% endblock %}
        <title>
            MyProject
        </title>
    </head>
    <body>
        <header>
<nav class="navbar navbar-info navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">DATAVERSE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'glossary' %}">Glossary</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://shorturl.at/FVO0A">Add me on Linkedin!</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
        </header>
        {% block content %}{% endblock content %}
        <footer>
            This is my footer
        </footer>
    </body>
</html>