{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}

<section>
  <div class="container-fluid intro-container d-flex align-items-center justify-content-center intro-section">
    <div class="row w-100">
      <div class="col-12 text-center intro-section-title">
        <h1 class="intro-section-title-text">DATAVERSE</h1>
        <h4 class="intro-section-title-subtitle">Connecting People through Data</h4>
        <button class="intro-section-button mt-3">Explore Insights</button>
      </div>
    </div>
  </div>
</section>

<section>
  <nav class="navbar navbar-category py-3">
  <div class="container-fluid justify-content-center">
    <ul class="navbar-nav flex-column flex-lg-row gap-5">
      <li class="nav-item text-center">
        <a class="nav-link-category" href="#">Data University</a>
      </li>
      <li class="nav-item text-center">
        <a class="nav-link-category" href="#">Data Lab</a>
      </li>
      <li class="nav-item text-center">
        <a class="nav-link-category" href="#">Data for Business</a>
      </li>
    </ul>
  </div>
</nav>
</section>

<section class="d-flex align-items-center justify-content-center para-text-section">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6 text-center main-text">
        DATAVERSE connects people through data, uniting business and technology to drive human-centred data and AI transformation through experimentation, learning, and insights.
      </div>
    </div>
  </div>
</section>


<section class="py-5 bg-light">
  <div class="container">

    <!-- Featured Posts -->
    <div class="row justify-content-center mb-4">
      <div class="col-12 col-md-6 text-center">
        <h2 class="post-section-title">Featured Posts</h2>
        <div class="mid-divider mx-auto"></div>
      </div>
    </div>

    <div class="row justify-content-center">
  <div class="col-12 col-md-8 col-lg-6">
    <ul class="articles-list list-unstyled text-center">
      {% for article in page_obj %}
        {% if article.is_featured %}
          <li class="article-item">
            <div class="article-title"><a href="#">{{ article.title }}</a></div>
            <span class="article-category">{{ article.category }}</span>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

<!-- Recent Posts -->
<div class="row justify-content-center mb-4 mt-5">
  <div class="col-12 col-md-6 text-center">
    <h2 class="post-section-title">Recent Posts</h2>
    <div class="mid-divider mx-auto"></div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-12 col-md-8 col-lg-6">
    <ul class="articles-list list-unstyled text-center">
      {% for article in page_obj %}
        <li class="article-item">
          <div class="article-title"><a href="#">{{ article.title }}</a></div>
          <span class="article-category">{{ article.category }}</span>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">First</a>
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
    
            {% for num in page_obj.paginator.page_range %}
                {% if num == page_obj.number %}
                    <span class="current">{{ num }}</span>
                {% else %}
                    <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
        </span>
    </div>
</section>





{% endblock content %}

