{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}

<section>
  <div class="container-fluid bg-danger d-flex align-items-center justify-content-center intro-section">
    <div class="row w-100">
      <div class="col-12 text-center">
        <h1>DATAVERSE</h1>
        <h4>Connect People through Data</h4>
        <button class="intro-section-button">Explore Insights</button>
      </div>
    </div>
  </div>
</section>


{% endblock content %}

