{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}

<section>
  <div class="container-fluid intro-container d-flex align-items-center justify-content-center intro-section">
    <div class="row w-100">
      <div class="col-12 text-center intro-section-title">
        <h1 class="intro-section-title-text">DATAVERSE</h1>
        <h4 class="intro-section-title-subtitle">Connect People through Data</h4>
        <button class="intro-section-button mt-3">Explore Insights</button>
      </div>
    </div>
  </div>
</section>

<section>
  <nav class="navbar bg-dark py-3">
  <div class="container-fluid justify-content-center">
    <ul class="navbar-nav flex-row flex-wrap justify-content-center gap-3">
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Data University</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Data Lab</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Data for Business</a>
      </li>
    </ul>
  </div>
</nav>
</section>


{% endblock content %}

