:root {
    --dark-color : #0c0116;
    --violet-color : #5c6bff;
    --white-color : #f8f9fa;

}

.navbar-info {
    background-color: var(--dark-color);

}

body {
    background-color: var(--white-color);
}