.category-card {
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    border: none;
    border-radius: 12px;
  }
  .category-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0,0,0,0.2);
  }
  .category-title {
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  .category-section {
    background-color: #f8f9fa;
  }

  .intro-container {
    background-color: var(--dark-color);
}

.intro-section {
    min-height: 60vh;
    
}

.intro-section-button {
    background-color: var(--dark-color);
    text-decoration: none;
    border-style: none;
    width: 10rem;
    font-size: 18px;
    color: var(--white-color);
}