:root {
    --dark-color : #0c0116;
    --violet-color : #5c6bff;
    --white-color : #f8f9fa;

}


.intro-container {
    background-color: red;
}

.intro-section {
    min-height: 50vh;
    
}

.intro-section-button {
    background-color: red;
    text-decoration: none;
    border-style: none;
    width: 10rem;
    font-size: 18px;
}